@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
body {
  background-color: #c3cceb;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.clippath {
  clip-path: polygon(50% 0%, 100% 38%, 100% 100%, 0 98%, 0% 38%);
}
.clippath-inv {
  clip-path: polygon(50% 100%, 100% 54%, 100% 0, 0 0, 0 55%);
}
